#heroPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.leftside {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leftwrap {
    width: 550px;
    height: 350px;
    margin-top: 70px;
    margin-left: 30px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;


}

.bold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #343D68;

}

#hi {
    font-size: 32px;
}

#soft {
    font-size: 48px;
}

#info {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-top: 10px;
}

span {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;

}

.button {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#btn {
    width: 100px;
    height: 50px;
    background-color: #E84949;
    border-radius: 4px;
    border: 2px solid rgba(232, 73, 73, 1);
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rightside {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightwrap {
    width: 400.27px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

#aish {
    width: 100%;
    height: 100%;

}